@model AspNetSecurity_NoSecurity.Models.ConferenceModel

<tr>
    <th><label asp-for="Name"></label></th>
    <th><label asp-for="Location"></label></th>
    <th><label asp-for="Start"></label></th>
    <th><label asp-for="TicketsSold"></label></th>
    <th><label>Actions</label></th>
</tr>

